@CHARSET "ISO-8859-1";

<<<<<<< HEAD


 body {
    overflow-x: hidden;
    text-align: center;
 }
 
 
 #wrapper {
 margin:0 auto;
 height: 100%;
 }
#sidebar-wrapper {
=======
body {
	overflow-x: hidden;
>>>>>>> origin/master
	
}

#wrapper {
	margin: 0 auto;
	height: 100%;
}

#sidebar-wrapper {
	overflow: hidden;
	background-color: #2e353d;
	/* 	position: absolute; */
	top: 0px;
	z-index: 1;
	height: 100%;
	color: #e1ffff
}

#right-wrapper {
	height: 100%;
	/* 	 	position: fixed;  */
}

#footer {
	text-align: center;
	background-color: blue;
	clear: both;
	height: 100%;
}

.addAccount{
	margin: 0 auto ! important;
/* 	position: center; */
/* 	padding: 50px; */
/* 	width: 75% !important; */
/* 	border: 3px solid red;S */
	
}
#content {
	
	background-color: grey;
	height: 100%;
	width: 100%;
}

#header {
	font-variant: small-caps;
	text-align: center;
}



#wrapper-content-header {
	
}

/* .remove-all-margin-padding { */
/* 	margin: 0 ! important; */
/* 	padding: 0 ! important; */
/* } */