@CHARSET "ISO-8859-1";

.header {
	text-align: center;
	background-color:  #2e353d ;
	border: 2px solid  #29b725 ;
	border-radius: 5px;
	color: white;
}

h1 {
	font-family: "Times New Roman";
	font-variant: small-caps;
	font-weight: bold;
	text-decoration:underline;
}

#text {
	
}