@CHARSET "ISO-8859-1";

.addAccount {
	margin-left: 40%;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
}

}
.addClient, .addCounsellor {
	margin-left: 40%;
	padding-top: 20px;
	padding-bottom: 20px;

	/* 	display: flex; */
	/* 	align-items: center; */
}

#fieldset {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
	padding-top: 0px;
	background-color: #c0c0c0;
	width: 300px;
	border-radius: 5px;
	/* 	margin: auto; */
}

#field {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
	padding-top: 0px;
	background-color: #c0c0c0;
	width: 500px;
	border-radius: 5px;
	margin: auto;
}

label {
	margin-top: 10px;
	margin-right: 10px;
	display: block;
	width: 85px;
}

#label {
	text-decoration: underline;
}

.choixClient {
	
}

.container {
	color: white;
}

.bouton {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 455px;
}