@CHARSET "ISO-8859-1";

body {
	overflow-x: shidden;
}

#wrapper {
	margin: 0 auto;
	height: 100%;
	background-color: #2e353d;
}

#sidebar-wrapper {
	overflow: hidden;
	background-color: #2e353d;
	/* 	position: fixed; */
	top: 0px;
	z-index: 1;
	height: 100%;
	color: #e1ffff;
	border-radius: 5px;
}

#right-wrapper {
	height: 100%;
	/* 	position: fixed; */
	/* 	margin-left: 500px; */
}

#content {
	background-color: grey;
	border-radius: 5px;
	padding-top: 20px;
}

/* .img { */
/* 	align-content: center; */
/* 	margin: auto; */
/* } */